name: HomeBankingServices
version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-homebanking
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: homebanking
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  localstack:
    image: localstack/localstack:latest
    container_name: localstack-homebanking
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs
      - DEFAULT_REGION=us-east-1
    volumes:
      - localstack-data:/var/lib/localstack

volumes:
  mysql-data:
  localstack-data: